body{
   
    color: white;
}
.icon{
    text-align: right; 
    padding: 5px;
    margin-right: 5px;
}

h1{
   
    text-align: center;
    color: white;
    font-size: 120px;
    margin: 0 auto;
}
h2{
    text-align: right;
   
    margin-right: 5px;
    
    
}
h4{
    text-align: center;
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  
   
    
}
h5{
    text-align: center;
}
